.photo-grid {
  padding-top: 92px;
  max-width: 1184px;
  margin: auto;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 91vw;
    padding-top: 88px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    max-width: 92vw;
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: 90vw;
    padding-top: 64px;
  }
}
