.body {
  margin: 0;
}

.page {
  margin: 0;
  padding: 0;
  background: #2a2c2f;
  font-family: "Inter";
  font-weight: normal;
  color: #fff;
}

.header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  height: 52px;
}

.hedaer__logo {
  width: 176px;
  height: 52px;
}

.header__lang-link {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  transition: 0.3s;
}

.header__lang-link_switching_en:hover {
  border-bottom: 3px solid #fff;
  opacity: 0.3;
}

.header__lang-link_switching_ru:hover {
  border-bottom: 3px solid #fff;
  opacity: 0.3;
}

.lead {
  width: 82vw;
  margin: auto;
}

.lead__title {
  padding-top: 56px;
  margin: auto;
  font-family: "Inter";
  font-weight: 900, Black;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  width: 720px;
}

.lead__subtitle {
  padding-top: 32px;
  margin: auto;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 640px;
}

.lead__image {
  padding-top: 64px;
  width: 100%;
}

.lead__caption {
  padding-top: 8px;
  margin: 0;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
}

.intro {
  width: 82vw;
  margin: auto;
}

.into__title {
  padding-top: 92px;
  margin: 0;
  font-family: "Inter";
  font-weight: 900, Black;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  padding-top: 40px;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  width: 690px;
}

.intro__list {
  padding: 33px 0 0 0;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.photo-grid {
  padding-top: 92px;
  width: 92vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 1.3vw;
}

.photo-grid__item {
  max-width: 100%;
}

.place {
  padding-top: 92px;
  width: 82vw;
  margin: auto;
  display: grid;
  grid-template-areas:
    "title website"
    "image paragraph"
    "image paragraphs";
  gap: 4vw 3.3vw;
}

.place__title {
  max-width: 460px;
  grid-area: title;
  margin: 0;
  font-family: "Inter";
  font-weight: 900, Black;
  font-size: 72px;
  line-height: 76px;
}

.place__website {
  align-self: end;
  grid-area: website;
}

.place__url-heading {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
}

.place__link {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  transition: 0.3s;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.place__link:hover {
  opacity: 0.3;
}

.place__paragraph {
  align-self: start;
  margin: 0;
  grid-area: paragraph;
  font-size: 18px;
  line-height: 29px;
}

.place__paragraphs {
  align-self: start;
  margin: 0;
  grid-area: paragraphs;
  font-size: 18px;
  line-height: 29px;
}

.place__image {
  grid-area: image;
  max-width: 460px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  max-width: 1184px;
  height: 740px;
  margin: 92px auto 0 auto;
  background-image: url(../img/trains.jpg);
  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover__title {
  margin: 0 auto;
  font-family: "Inter";
  font-weight: 900, Black;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  width: 560px;
}

.cover__subtitle {
  padding-top: 32px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 360px;
}

.footer {
  max-width: 1184px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 92px 0 24px 0;
}

.footer__link {
  margin: 0 18px 0 0;
  font-family: "Inter";
  font-weight: normal;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  transition: 0.3s;
}

.footer__link:hover {
  opacity: 0.3;
}

.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}
