.video__title {
  font-size: 72px;
  line-height: 78px;
  font-weight: 900;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 30px auto;
}

@media screen and (max-width: 1023px) {
  .video__title {
    font-size: 42px;
    line-height: 45px;
  }
}

@media screen and (max-width: 767px) {
  .video__title {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 374px) {
  .video__title {
    max-width: 288px;
  }
}
