.intro {
  max-width: 960px;
  margin: auto;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 89vw;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: 92vw;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 88vw;
    margin: auto;
  }
}
