.cover {
  max-width: 93vw;
  margin: 92px auto 0 auto;
}

@media screen and (max-width: 1280px) {
  .cover {
    max-width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 66px;
    max-width: none;
  }
}
