.place__link {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    transition: 0.3s;
    text-decoration: none;
    border-bottom: 1px solid #fff;
  }

  .place__link:hover {
    opacity: 0.8;
  }