.cover__background {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  opacity: 0.8;
  transition: 0.3s;
}

.cover__background:hover {
  opacity: 0.3;
}

@media screen and (max-width: 768px) {
  .cover__background {
    width: 100%;
  }
}
