.place {
  padding-top: 80px;
  max-width: 984px;
  margin: auto;
  display: grid;
  grid-template-areas:
    "title website"
    "image paragraph";
  gap: 48px 40px;
}

.place:first-child {
  padding-top: 92px;
}

@media screen and (max-width: 1279px) {
  .place {
    max-width: 89vw;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    padding-top: 75px;
    max-width: 95vw;
    gap: 48px 28px;
  }

  .place:first-child {
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    max-width: none;
    padding-top: 50px;
    display: block;
  }

  .place:first-child {
    padding-top: 64px;
  }
}
