.footer {
  max-width: 1184px;
  margin: auto;
  padding: 92px 0 24px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 92vw;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 90vw;
    padding: 64px 0 24px 0;
    flex-direction: column;
  }
}
