.footer {
  width: 93vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 92px 0 24px 0;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    width: 95vw;
    padding: 64px 0 24px 0;
  }
}
