.place__url-heading {
  margin: 0 0 12px 0;
  font-size: 12px;
  line-height: 20.4px;
  letter-spacing: 2px;
  color: #aaa;
}

@media screen and (max-width: 1024px) {
  .place__url-heading {
    line-height: 12px;
  }
}
