.place__website {
  align-self: end;
  grid-area: website;
}

@media screen and (max-width: 767px) {
  .place__website {
    display: none;
    align-self: flex-start;
    margin-left: 16px;
    padding-top: 32px;
  }
}
